In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/miniconda3/envs/jupyterhub/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/envs/jupyterhub/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/envs/jupyterhub/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/miniconda3/envs/jupyterhub/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/miniconda3/envs/jupyterhub/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/jupyterhub/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
%load_ext gams.magic
m = gams.exchange_container

In [4]:
gams.reset()
m = gams.exchange_container
df = pd.read_csv('FInalFoodData.csv', index_col="Item")
df

,Description,Brand,Calories,Serving Size,Nutrients,Nov 2023 Price in Dollars,Percent Change from Nov 2022,Percent Change from Oct 2023
Item,,,,,,,,
chicken,CHICKEN,Keystone Brand Meats Inc,107.0 kcal,56.0 g,"Fatty acids, total trans: 0.0 g, Carbohydrate,...",0.12/oz,3.1,2.6
yogurt,YOGURT,Agri-Service LLC,94.0 kcal,170.0 ml,"Iron, Fe: 0.0 mg, Calcium, Ca: 118.0 mg, Fiber...",0.07/oz,NaN,NaN
cereal,CEREAL,"General Mills, Inc.",387.0 kcal,31.0 g,"Fatty acids, total polyunsaturated: 1.61 g, Ir...",0.27/oz,NaN,NaN
Corn,CORN,"Kcb Industries, L.L.C.",545.0 kcal,33.0 g,"Vitamin D (D2 + D3), International Units: 0.0 ...",0.17/oz,NaN,NaN
Potatoes,POTATOES,THE LITTLE POTATO COMPANY,74.0 kcal,148.0 g,"Iron, Fe: 0.73 mg, Cholesterol: 0.0 mg, Calciu...",0.05/oz,2.7,-2.8
...,...,...,...,...,...,...,...,...
Ice cream,ICE CREAM,"Clover Stornetta Farms, Inc.",205.0 kcal,88.0 g,"Energy: 205.0 kcal, Carbohydrate, by differenc...",0.17/oz,NaN,NaN
cookies,COOKIES,KNO,441.0 kcal,100.0 g,"Fiber, total dietary: 0.0 g, Sodium, Na: 0.0 m...",0.20/oz,NaN,NaN
brownies,BROWNIES,TWO-BITE,460.0 kcal,50.0 g,"Iron, Fe: 2.88 mg, Fiber, total dietary: 0.0 g...",0.34/oz,NaN,NaN
Pizza rolls,Pizza rolls,Not specified,345 kcal,None None,"Protein: 9.19 g, Total lipid (fat): 10.5 g, Ca...",0.19/oz,NaN,NaN
mozzarella sticks,MOZZARELLA STICKS,"The Great Atlantic & Pacific Tea Company, Inc.",364.0 kcal,33.0 g,"Vitamin A, IU: 303.0 IU, Vitamin C, total asco...",0.25/oz,NaN,NaN

In [5]:
df['Calories'] = df['Calories'].str.extract('(\d+\.\d+)').astype(float)

In [6]:
df['Serving Size'] = df['Serving Size'].str.extract('(\d+\.\d+)').astype(float)

In [7]:
# Extract the numeric part of the 'Nov 2023 Price in Dollars' column and convert to float
df['Price'] = df['Nov 2023 Price in Dollars'].str.extract(r'(\d+\.\d+)').astype(float)

# Drop the original 'Nov 2023 Price in Dollars' column
df.drop('Nov 2023 Price in Dollars', axis=1, inplace=True)

In [8]:
def extract_nutrients(row):
    nutrients = {}
    items = re.split(', ', row['Nutrients'])
    for item in items:
        match = re.match(r'(.+?): (.+?) (.+)', item)
        if match:
            nutrient, value = match.groups()[:2]
            nutrients[nutrient] = float(value) if '.' in value else int(value)
    return pd.Series(nutrients)

# Apply the function to each row and concatenate the result with the original DataFrame
df = pd.concat([df, df.apply(extract_nutrients, axis=1)], axis=1)

# Drop the original 'Nutrients' column
df = df.drop('Nutrients', axis=1)

In [9]:
df.head()

,Description,Brand,Calories,Serving Size,Percent Change from Nov 2022,Percent Change from Oct 2023,Price,Alanine,Arginine,Ash,...,other,soluble,total,total ascorbic acid,total dietary,total including NLEA,total monounsaturated,total polyunsaturated,total saturated,total trans
Item,,,,,,,,,,,,,,,,,,,,,
chicken,CHICKEN,Keystone Brand Meats Inc,107.0,56.0,3.1,2.6,0.12,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.00,NaN,NaN,0.89,0.0
yogurt,YOGURT,Agri-Service LLC,94.0,170.0,NaN,NaN,0.07,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,0.0,15.88,NaN,NaN,1.76,NaN
cereal,CEREAL,"General Mills, Inc.",387.0,31.0,NaN,NaN,0.27,NaN,NaN,NaN,...,48.0,NaN,NaN,19.4,6.5,29.03,1.61,1.61,0.00,0.0
Corn,CORN,"Kcb Industries, L.L.C.",545.0,33.0,NaN,NaN,0.17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.1,24.24,NaN,NaN,4.55,0.0
Potatoes,POTATOES,THE LITTLE POTATO COMPANY,74.0,148.0,2.7,-2.8,0.05,NaN,NaN,NaN,...,NaN,NaN,NaN,2.4,2.0,0.68,NaN,NaN,0.00,0.0

In [10]:
df.rename(columns={'by difference': 'Carbs'}, inplace=True)
df.rename(columns={'Total lipid (fat)': 'Fat'}, inplace=True)
df.rename(columns={'Ca': 'Calcium'}, inplace=True)
df.rename(columns={'Vitamin D (D2 + D3)': 'Vitamin D'}, inplace=True)
df.rename(columns={'Serving Size': 'Serving'}, inplace=True)

In [11]:
df = df[["Calories", "Serving", 'Protein', "Carbs", "Fat", "Calcium", "Price"]]
df

                   Calories  Serving  Protein  Carbs    Fat  Calcium  Price
Item
chicken               107.0     56.0    21.43   0.00   1.79      0.0   0.12
yogurt                 94.0    170.0     2.94  15.88   2.94    118.0   0.07
cereal                387.0     31.0     6.45  83.87   3.23    323.0   0.27
Corn                  545.0     33.0     6.06  54.55  33.33     61.0   0.17
Potatoes               74.0    148.0     2.70  16.89   0.00      0.0   0.05
...                     ...      ...      ...    ...    ...      ...    ...
Ice cream             205.0     88.0     2.27  25.00  10.23     68.0   0.17
cookies               441.0    100.0     7.37  68.37  13.26      NaN   0.20
brownies              460.0     50.0     2.00  56.00  26.00      0.0   0.34
Pizza rolls             NaN      NaN     9.19  53.40  10.50    132.0   0.19
mozzarella sticks     364.0     33.0    12.12  33.33  21.21    303.0   0.25

[93 rows x 7 columns]

In [12]:
df_limited = df.head(10)

In [13]:
df.fillna(0, inplace=True)

In [14]:
df = df.drop(['Rice Krispies', 'chili', 'Cornbread', "Instant oatmeal", 'Cheese curds', 'Peanut butter and jelly sandwiches'])
# df = df.drop(['chili'])
# df = df.drop(['Cornbread', "Instant oatmeal"])
# df = df.drop(['Peanut butter and jelly sandwiches'])

In [15]:
foods = df.index.values.tolist()
foods

['chicken',
 'yogurt',
 'cereal',
 'Corn',
 'Potatoes',
 'Green beans',
 'Carrots',
 'Tomatoes',
 'Bell peppers',
 'Onions',
 'Lettuce',
 'Spinach',
 'Broccoli',
 'Cauliflower',
 'Cucumbers',
 'Zucchini',
 'Peas',
 'Brussels sprouts',
 'Apples',
 'Bananas',
 'Grapes',
 'Oranges',
 'Strawberries',
 'Blueberries',
 'Watermelon',
 'Pears',
 'Cherries',
 'Plums',
 'Cantaloupe',
 'Raspberries',
 'Blackberries',
 'Kiwi',
 'Popcorn',
 'Pretzels',
 'Trail mix',
 'Beef jerky',
 'Potato chips',
 'Granola bars',
 'Applesauce',
 'peanuts',
 'almonds',
 'Crackers',
 'Cheese slices',
 'Fruit cups',
 'marshmallows',
 'chocolate',
 'graham crackers',
 'Milk',
 'Cheese',
 'steaks',
 'burgers',
 'Pork (bacon, ham)',
 'Eggs',
 'Wheat bread',
 'Oatmeal',
 'Pancake mix',
 'Pasta',
 'Rice',
 'Peaches',
 'Instant noodles',
 'Frozen pizza',
 'mac and cheese',
 'Canned soups',
 'cream cheese',
 'Chips and salsa',
 'Fruit snacks',
 'dried fruits',
 'String cheese',
 'Protein bar',
 'Coffee',
 'tea',
 'Energy drinks',
 'sports drinks',
 'Fruit juices',
 'smoothies',
 'Soda',
 'Toaster pastries',
 'Frozen waffles',
 'Salads',
 'Hummus',
 'pita bread',
 'frozen vegetables',
 'Ice cream',
 'cookies',
 'brownies',
 'Pizza rolls',
 'mozzarella sticks']

In [16]:
meats = ['chicken', 'steaks', 'burgers', 'Pork (bacon, ham)']
fruits = ['Apples','Bananas','Grapes','Oranges','Strawberries','Blueberries','Watermelon','Pears','Cherries','Plums','Cantaloupe','Raspberries','Blackberries','Kiwi','Peaches']  
vegetables = ['Corn','Potatoes','Green beans','Carrots','Tomatoes','Bell peppers','Onions','Lettuce','Spinach','Broccoli','Cauliflower','Cucumbers','Zucchini','Peas','Brussels sprouts','Salads']        
breakfast = ['yogurt','cereal', 'Eggs', 'Oatmeal','Pancake mix', 'cream cheese','Toaster pastries','Frozen waffles']  
frozen = ['Frozen pizza', 'Pizza rolls','mozzarella sticks','frozen vegetables']
drinks = ['Coffee','tea','Energy drinks','sports drinks','Fruit juices','smoothies','Soda']
desserts = ['Ice cream','cookies','brownies', 'marshmallows','chocolate'] 
snacks = ['Popcorn','Pretzels','Trail mix','Beef jerky','Potato chips','Granola bars','Applesauce','peanuts','almonds','Crackers','Cheese slices','Fruit cups','graham crackers', "Hummus",'Chips and salsa','Fruit snacks','dried fruits',"String cheese",'Protein bar']
dry = ["pita bread", 'Instant noodles', "mac and cheese", 'Pasta','Rice', 'Wheat bread','Canned soups']   
dairy = ['Cheese slices', 'Milk','Cheese',]

In [17]:
len(meats) + len(fruits) + len(vegetables) + len(breakfast) + len(frozen) + len(drinks) + len(desserts) + len(snacks) + len(dry)

85

In [18]:
len(df)

87

In [19]:
leftovers = []
for i in foods:
    if i in meats:
        continue
    if i in fruits:
        continue
    if i in vegetables:
        continue
    if i in breakfast:
        continue
    if i in frozen:
        continue
    if i in drinks:
        continue
    if i in desserts:
        continue
    if i in snacks:
        continue
    if i in dry:
        continue
    if i in dairy:
        continue
    
leftovers

[]

In [20]:
import pandas as pd

# Assuming df is your original DataFrame
# Assuming meats, fruits, vegetables, etc. are lists containing food items of each type

# Create an empty dictionary to store DataFrames for each type of food
food_dict = {}

# Iterate through the food items in the original DataFrame
for i in df.index.values:
    if i in meats:
        if 'Meats' not in food_dict:
            food_dict['Meats'] = pd.DataFrame(columns=df.columns)
        food_dict['Meats'] = pd.concat([food_dict['Meats'], df.loc[[i]]])
    elif i in fruits:
        if 'Fruits' not in food_dict:
            food_dict['Fruits'] = pd.DataFrame(columns=df.columns)
        food_dict['Fruits'] = pd.concat([food_dict['Fruits'], df.loc[[i]]])
    elif i in vegetables:
        if 'Vegetables' not in food_dict:
            food_dict['Vegetables'] = pd.DataFrame(columns=df.columns)
        food_dict['Vegetables'] = pd.concat([food_dict['Vegetables'], df.loc[[i]]])
    elif i in breakfast:
        if 'Breakfast' not in food_dict:
            food_dict['Breakfast'] = pd.DataFrame(columns=df.columns)
        food_dict['Breakfast'] = pd.concat([food_dict['Breakfast'], df.loc[[i]]])
    elif i in frozen:
        if 'Frozen' not in food_dict:
            food_dict['Frozen'] = pd.DataFrame(columns=df.columns)
        food_dict['Frozen'] = pd.concat([food_dict['Frozen'], df.loc[[i]]])
    elif i in drinks:
        if 'Drinks' not in food_dict:
            food_dict['Drinks'] = pd.DataFrame(columns=df.columns)
        food_dict['Drinks'] = pd.concat([food_dict['Drinks'], df.loc[[i]]])
    elif i in desserts:
        if 'Desserts' not in food_dict:
            food_dict['Desserts'] = pd.DataFrame(columns=df.columns)
        food_dict['Desserts'] = pd.concat([food_dict['Desserts'], df.loc[[i]]])
    elif i in snacks:
        if 'Snacks' not in food_dict:
            food_dict['Snacks'] = pd.DataFrame(columns=df.columns)
        food_dict['Snacks'] = pd.concat([food_dict['Snacks'], df.loc[[i]]])
    elif i in dry:
        if 'Dry' not in food_dict:
            food_dict['Dry'] = pd.DataFrame(columns=df.columns)
        food_dict['Dry'] = pd.concat([food_dict['Dry'], df.loc[[i]]])
    elif i in dairy:
        if 'Dairy' not in food_dict:
            food_dict['Dairy'] = pd.DataFrame(columns=df.columns)
        food_dict['Dairy'] = pd.concat([food_dict['Dairy'], df.loc[[i]]])

# Now, the food_dict dictionary contains DataFrames for each type of food
# Access them like food_dict['Meats'], food_dict['Fruits'], etc.

In [21]:
food_dict

{'Meats':                    Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 chicken               107.0     56.0    21.43   0.00   1.79      0.0   0.12
 steaks                  0.0      0.0    11.90   4.34   9.12     17.0   0.68
 burgers               252.0    151.0    17.22   0.00  19.87     20.0   0.40
 Pork (bacon, ham)       0.0      0.0     6.26  10.40   8.27     21.0   0.28,
 'Breakfast':                   Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 yogurt                94.0    170.0     2.94  15.88   2.94    118.0   0.07
 cereal               387.0     31.0     6.45  83.87   3.23    323.0   0.27
 Eggs                 143.0     63.0    12.70   0.00   9.52     63.0   0.16
 Oatmeal              378.0     45.0    11.11  68.89   6.67     44.0   0.11
 Pancake mix          333.0     36.0     5.56  75.00   0.00      0.0   0.07
 cream cheese         321.0     28.0     7.14   7.14  32.14     71.0   0.17
 Toaster pastries     375.0    104.0     2.88  71.15   8.65     29.0   0.09
 Frozen waffles         0.0      0.0     7.42  48.40   9.49    299.0   0.14,
 'Vegetables':                   Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 Corn                 545.0     33.0     6.06  54.55  33.33     61.0   0.17
 Potatoes              74.0    148.0     2.70  16.89   0.00      0.0   0.05
 Green beans           29.0     85.0     2.35   7.06   0.00     47.0   0.21
 Carrots               38.0     78.0     1.28   8.97   0.00     26.0   0.53
 Tomatoes              22.0    114.0     0.88   3.51   0.00     18.0   0.12
 Bell peppers          18.0     85.0     1.18   4.71   0.00      0.0   0.08
 Onions                38.0      0.0     0.86   8.46   0.08     17.0   0.07
 Lettuce               14.0      0.0     1.13   2.92   0.14     27.0   0.09
 Spinach               24.0     85.0     3.53   3.53   0.00     94.0   0.31
 Broccoli              24.0     85.0     2.35   4.71   0.00     59.0   0.10
 Cauliflower           24.0     85.0     2.35   4.71   0.00     24.0   0.22
 Cucumbers             15.0    237.0     0.84   3.80   0.00     17.0   0.12
 Zucchini              21.0     95.0     1.05   4.21   0.00     21.0   0.09
 Peas                  56.0    125.0     3.20   9.60   0.40     16.0   0.06
 Brussels sprouts      41.0     85.0     3.53   9.41   0.35     47.0   0.18
 Salads                 0.0      0.0     1.32   5.90  44.50     28.0   0.31,
 'Fruits':               Calories  Serving  Protein  Carbs   Fat  Calcium  Price
 Apples            52.0    154.0     0.00  14.29  0.00      0.0   0.09
 Bananas         1448.0      0.0     3.89  88.28  1.81     22.0   0.04
 Grapes            79.0     57.0     0.00  17.54  0.00     18.0   0.14
 Oranges           49.0    154.0     0.65  12.34  0.15     45.0   0.10
 Strawberries      36.0    140.0     0.71   9.29  0.00     14.0   0.25
 Blueberries       50.0    140.0     0.71  12.14  0.71      0.0   0.38
 Watermelon        31.0      0.0     0.78   7.45  0.25      0.0   0.30
 Pears             60.0    166.0     0.60  15.66  0.00      9.0   0.11
 Cherries          83.0      6.0     0.00  33.33  0.00      0.0   0.21
 Plums             55.0      0.0     0.52  13.50  0.23      5.0   0.33
 Cantaloupe        37.0    134.0     0.75   8.96  0.00     15.0   0.26
 Raspberries      106.0    142.0     0.70  26.06  0.00     14.0   0.49
 Blackberries      59.0    136.0     1.47  15.44  0.37     29.0   0.42
 Kiwi             353.0     30.0     0.00  86.67  0.00     67.0   0.18
 Peaches          238.0     40.0     2.50  62.50  0.00     25.0   0.09,
 'Snacks':                  Calories  Serving   Protein     Carbs    Fat  Calcium  Price
 Popcorn             373.0     51.0  11.76000  72.55000   3.92      0.0   0.79
 Pretzels            464.0     28.0   7.14000  64.29000  21.43      0.0   0.14
 Trail mix           439.0     57.0  12.28000  52.63000  24.56     70.0   0.24
 Beef jerky            0.0      0.0  33.20000  11.00000  25.60     20.0   0.55
 Potato chips        530.0      0.0   3.53000  45.94000  35.34      0.0   0.59
 Granola bars        429.0     35.0   5.71000  65.71000  14.29     57.0   0.17
 Applesauce           79.0    126.0   0.00000  21.43000   0.00      0.0   0.07
 peanuts             571.0     28.0  21.43000  21.43000  46.43      0.0   0.15
 almonds             633.0     30.0  23.33000  13.33000  56.67    333.0   0.38
 Crackers            500.0     14.0  14.29000  64.29000  21.43     71.0   0.19
 Cheese slices         0.0      0.0  23.45288   2.45312  28.13    748.8   0.49
 Fruit cups         2153.0      0.0  10.24000  55.36000  30.53     78.0   0.17
 graham crackers       0.0      0.0   6.69000  77.70000  10.60     77.0   0.15
 Chips and salsa      38.0      0.0   1.13000   6.36000   0.89      9.0   0.30
 Fruit snacks        391.0     23.0   0.00000  86.96000   4.35      0.0   0.24
 dried fruits          0.0      0.0   2.28000  78.60000   0.62     39.0   0.65
 String cheese       286.0     28.0  25.00000   3.57000  17.86    682.0   0.23
 Protein bar         294.0     34.0  26.47000  47.06000  13.24    147.0   0.40
 Hummus              321.0     28.0   7.14000  21.43000  28.57     71.0   0.28,
 'Desserts':               Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 marshmallows     321.0     28.0     3.57  78.57   0.00      0.0   0.11
 chocolate        565.0      0.0     7.07  53.00  35.34    141.0   0.55
 Ice cream        205.0     88.0     2.27  25.00  10.23     68.0   0.17
 cookies          441.0    100.0     7.37  68.37  13.26      0.0   0.20
 brownies         460.0     50.0     2.00  56.00  26.00      0.0   0.34,
 'Dairy':         Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 Milk        55.0    236.0     3.39   5.08   2.12    127.0   0.02
 Cheese     367.0     30.0    16.67   3.33  33.33    503.0   0.27,
 'Dry':                  Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 Wheat bread         267.0     45.0    11.11  53.33   2.22     89.0   0.12
 Pasta               340.0     53.0    11.32  66.04   2.83     38.0   0.07
 Rice                356.0     45.0     6.67  77.78   0.00      0.0   0.89
 Instant noodles     478.0    120.0     7.50  60.00  23.33     33.0   0.09
 mac and cheese        0.0      0.0     3.26  20.10   1.86     95.0   0.36
 Canned soups        342.0      0.0     0.80  11.30   3.92     36.0   0.11
 pita bread          231.0     39.0    10.26  43.59   2.56    154.0   0.24,
 'Frozen':                    Calories  Serving  Protein  Carbs    Fat  Calcium  Price
 Frozen pizza          251.0    127.5    11.76  20.39  12.55    235.0   0.25
 frozen vegetables     580.0      0.0     6.87  14.18   6.04    150.0   0.08
 Pizza rolls             0.0      0.0     9.19  53.40  10.50    132.0   0.19
 mozzarella sticks     364.0     33.0    12.12  33.33  21.21    303.0   0.25,
 'Drinks':                Calories  Serving  Protein  Carbs   Fat  Calcium  Price
 Coffee              1.0    310.5     0.00   0.32  0.00      0.0   0.04
 tea                34.0    473.0     0.00   8.46  0.00      0.0   0.02
 Energy drinks      46.0    480.0     0.00   6.46  0.00      0.0   0.17
 sports drinks      26.0      0.0     0.00   6.43  0.00      1.0   0.05
 Fruit juices       10.0      0.0     0.00   2.50  0.00      0.0   0.03
 smoothies          89.0      0.0     2.75   5.84  6.63     73.0   0.27
 Soda               25.0    355.0     0.00   6.76  0.00      0.0   0.04}

In [22]:
meats_df = food_dict["Meats"]
fruits_df = food_dict["Fruits"] 
vegetables_df = food_dict["Vegetables"]
breakfast_df = food_dict['Breakfast'] 
frozen_df = food_dict["Frozen"]
drinks_df = food_dict["Drinks"]
desserts_df = food_dict["Desserts"]
snacks_df = food_dict["Snacks"]
dry_df = food_dict["Dry"]   
dairy_df = food_dict["Dairy"]

In [23]:
dairy_df

        Calories  Serving  Protein  Carbs    Fat  Calcium  Price
Milk        55.0    236.0     3.39   5.08   2.12    127.0   0.02
Cheese     367.0     30.0    16.67   3.33  33.33    503.0   0.27

In [24]:
# Item = m.addSet('Item',records=df_limited.index)
# p = m.addParameter('price',[Item],records=df_limited[["Price"]].to_numpy())
# cal = m.addParameter('calories',[Item],records=df_limited[["Calories"]].to_numpy())
# pro = m.addParameter('protein',[Item],records=df_limited[["Protein"]].to_numpy())
# carbs = m.addParameter('carbs',[Item],records=df_limited[["Carbs"]].to_numpy())
# fat = m.addParameter('fat',[Item],records=df_limited[["Fat"]].to_numpy())
# calcium = m.addParameter('calcium',[Item],records=df_limited[["Calcium"]].to_numpy())
# display(calcium.records)

In [25]:
Item = m.addSet('Item',records=df.index)
me = m.addSet("meat",domain = [Item],records=meats_df.index)
fruit = m.addSet("fruit",domain = [Item],records=fruits_df.index)
veg = m.addSet("vegetable",domain = [Item],records=vegetables_df.index)
bf = m.addSet("breakfast",domain = [Item],records=breakfast_df.index)
fr = m.addSet("frozen",domain = [Item],records=frozen_df.index)
dr = m.addSet("drink",domain = [Item],records=drinks_df.index)
de = m.addSet("dessert",domain = [Item],records=desserts_df.index)
dry = m.addSet("dry",domain = [Item],records=dry_df.index)
dairy = m.addSet("dairy",domain = [Item],records=dairy_df.index)
p = m.addParameter('price',[Item],records=df[["Price"]].to_numpy())
cal = m.addParameter('calories',[Item],records=df[["Calories"]].to_numpy())
pro = m.addParameter('protein',[Item],records=df[["Protein"]].to_numpy())
carbs = m.addParameter('carbs',[Item],records=df[["Carbs"]].to_numpy())
fat = m.addParameter('fat',[Item],records=df[["Fat"]].to_numpy())
calcium = m.addParameter('calcium',[Item],records=df[["Calcium"]].to_numpy())
display(bf.records)

               Item element_text
0            yogurt
1            cereal
2              Eggs
3           Oatmeal
4       Pancake mix
5      cream cheese
6  Toaster pastries
7    Frozen waffles

In [26]:
cost = m.addVariable('cost','free',description="total cost")
x = m.addVariable('x','integer',domain = Item,description="number of servings for each item")

In [27]:
%%gams
scalar
    requirements /3000/,
    time_multiplier /7/;

alias(Item, i);
    
equations
    obj "minimize total meal cost"
    cal_constraint_up
    cal_constraint_low
    protein_constraint_up
    protein_constraint_low
    carb_constraint_up
    carb_constraint_low
    fat_constraint_up
    fat_constraint_low
    calcium_constraint_up
    calcium_constraint_low
    cost_constraint
    cost_constraint_low
    meat_constraint_up
    meat_constraint_low
    fruit_constraint_up
    fruit_constraint_low
    veg_constraint_up
    veg_constraint_low
    breakfast_constraint_up
    breakfast_constraint_low
    frozen_constraint_up
    frozen_constraint_low
    drink_constraint_up
    drink_constraint_low
    dessert_constraint_up
    dessert_constraint_low
    dry_constraint_up
    dry_constraint_low
    dairy_constraint_up
    dairy_constraint_low;
    
obj..
    cost =e= sum(Item, price(Item)*x(Item));

# Do not go over budget
cost_constraint..
    cost =l= 150;
    
cost_constraint_low..
    cost =g= 70;

# Make sure we meet our nutritional goals
cal_constraint_up..
    sum(Item, x(Item) * calories(Item)) =l= 3000 * time_multiplier;  # Upper calorie limit
    
cal_constraint_low..
    sum(Item, x(Item) * calories(Item)) =g= 2500 * time_multiplier;  # Lower calorie limit
    
protein_constraint_up..
    sum(i, x(i) * protein(i)) =l= 56 * time_multiplier;  # Upper protein limit
    
protein_constraint_low..
    sum(i, x(i) * protein(i)) =g= 46 * time_multiplier;  # Lower protein limit
    
carb_constraint_up..
    sum(i, x(i) * carbs(i)) =l= 375 * time_multiplier;  # Upper carb limit
    
carb_constraint_low..
    sum(i, x(i) * carbs(i)) =g= 313 * time_multiplier;  # Lower carb limit
    
fat_constraint_up..
    sum(i, x(i) * fat(i)) =l= 100 * time_multiplier;  # Upper fat limit
    
fat_constraint_low..
    sum(i, x(i) * fat(i)) =g= 83 * time_multiplier;  # Lower fat limit
    
calcium_constraint_up..
    sum(i, x(i) * calcium(i)) =l= 1100 * time_multiplier;  # Upper calcium limit
    
calcium_constraint_low..
    sum(i, x(i) * calcium(i)) =g= 900 * time_multiplier;  # Lower calcium limit

    
# Make sure we diversify the food groups we are eating     
meat_constraint_up..
    sum(meat, calories(meat) * x(meat)) =l= 1000;
    
meat_constraint_low..
    sum(meat, calories(meat) * x(meat)) =g= 200;
    
fruit_constraint_up..
    sum(fruit, calories(fruit) * x(fruit)) =l= 1000;
    
fruit_constraint_low..
    sum(fruit, calories(fruit) * x(fruit)) =g= 100;
    
veg_constraint_up..
    sum(vegetable, calories(vegetable) * x(vegetable)) =l= 1000;
    
veg_constraint_low..
    sum(vegetable, calories(vegetable) * x(vegetable)) =g= 200;
    
breakfast_constraint_up..
    sum(breakfast, calories(breakfast) * x(breakfast)) =l= 500;
    
breakfast_constraint_low..
    sum(breakfast, calories(breakfast) * x(breakfast)) =g= 50;
    
frozen_constraint_up..
    sum(frozen, calories(frozen) * x(frozen)) =l= 100;
    
frozen_constraint_low..
    sum(frozen, calories(frozen) * x(frozen)) =g= 0;
    
drink_constraint_up..
    sum(drink, calories(drink) * x(drink)) =l= 50;
    
drink_constraint_low..
    sum(drink, calories(drink) * x(drink)) =g= 0;
    
dessert_constraint_up..
    sum(dessert, calories(dessert) * x(dessert)) =l= 50;
    
dessert_constraint_low..
    sum(dessert, calories(dessert) * x(dessert)) =g= 0;
    
dry_constraint_up..
    sum(dry, calories(dry) * x(dry)) =l= 250;
    
dry_constraint_low..
    sum(dry, calories(dry) * x(dry)) =g= 20;
    
dairy_constraint_up..
    sum(dairy, calories(dairy) * x(dairy)) =l= 150;
    
dairy_constraint_low..
    sum(dairy, calories(dairy) * x(dairy)) =g= 0;
    
# X cannot be negative
x.lo(i) = 0;
 
model plan /obj 
    cal_constraint_up
    cal_constraint_low
    protein_constraint_up
    protein_constraint_low
    carb_constraint_up
    carb_constraint_low
    fat_constraint_up
    fat_constraint_low
    calcium_constraint_up
    calcium_constraint_low
    cost_constraint
    cost_constraint_low
    meat_constraint_up
    meat_constraint_low
    fruit_constraint_up
    fruit_constraint_low
    veg_constraint_up
    veg_constraint_low
    breakfast_constraint_up
    breakfast_constraint_low
    frozen_constraint_up
    frozen_constraint_low
    drink_constraint_up
    drink_constraint_low
    dessert_constraint_up
    dessert_constraint_low
    dry_constraint_up
    dry_constraint_low
    dairy_constraint_up
    dairy_constraint_low
    /;
solve plan using mip minimizing cost;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),70.0,31,88,MIP,CPLEX,0.008

In [28]:
display(x.records)

                 Item  level  marginal  lower  upper  scale
0             chicken    0.0      0.12    0.0    inf    1.0
1              yogurt    0.0      0.07    0.0    inf    1.0
2              cereal    1.0      0.27    0.0    inf    1.0
3                Corn    0.0      0.17    0.0    inf    1.0
4            Potatoes    0.0      0.05    0.0    inf    1.0
..                ...    ...       ...    ...    ...    ...
82          Ice cream    0.0      0.17    0.0    inf    1.0
83            cookies    0.0      0.20    0.0    inf    1.0
84           brownies    0.0      0.34    0.0    inf    1.0
85        Pizza rolls    0.0      0.19    0.0    inf    1.0
86  mozzarella sticks    0.0      0.25    0.0    inf    1.0

[87 rows x 6 columns]

In [29]:
# Apply a 2.4% inflation rate to estimate 2024 prices
inflation_rate = 0.024
df['Price 2024'] = df['Price'] * (1 + inflation_rate)

In [30]:
# Generate a distribution around the adjusted price for variability
np.random.seed(42)  # For reproducibility
price_variation_factor = 0.05  # 5% variation for the distribution

# Function to generate price distribution
def generate_price_distribution(price):
    return np.random.normal(price, price * price_variation_factor, 1000)

# Apply the function to generate distributions for 2024 prices
df['Price Distribution 2024'] = df['Price 2024'].apply(generate_price_distribution)

In [31]:
display(x.records[x.records["level"] !=0])

               Item  level  marginal  lower  upper  scale
2            cereal    1.0      0.27    0.0    inf    1.0
6           Carrots   26.0      0.53    0.0    inf    1.0
22     Strawberries    2.0      0.25    0.0    inf    1.0
23      Blueberries    1.0      0.38    0.0    inf    1.0
24       Watermelon    1.0      0.30    0.0    inf    1.0
26         Cherries    5.0      0.21    0.0    inf    1.0
28       Cantaloupe    2.0      0.26    0.0    inf    1.0
31             Kiwi    1.0      0.18    0.0    inf    1.0
36     Potato chips   11.0      0.59    0.0    inf    1.0
38       Applesauce   23.0      0.07    0.0    inf    1.0
42    Cheese slices    4.0      0.49    0.0    inf    1.0
43       Fruit cups    1.0      0.17    0.0    inf    1.0
50          burgers    1.0      0.40    0.0    inf    1.0
61   mac and cheese    1.0      0.36    0.0    inf    1.0
64  Chips and salsa  132.0      0.30    0.0    inf    1.0
67    String cheese    1.0      0.23    0.0    inf    1.0
69           Coffee   49.0      0.04    0.0    inf    1.0
80       pita bread    1.0      0.24    0.0    inf    1.0